*{
    font-family: "verdana" ,cursive, sans-serif;
} 

body {
    background-color: #7cc6fe;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: beige;
    letter-spacing: 2px;

    }
    
.btn{
    margin-left: 35%; 
    background-color: rgb(131, 5, 189);
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-weight: 300;
    letter-spacing: 2px;
    cursor: pointer;
    color: white;

    
}
.btn:hover{
    
    color: white;
    transition: 0.3s;
    transform: rotateY(10deg) scale(1.25);
    box-shadow: 0 25px 40px rgb(56, 56, 56);
}

.App{
    background-color: #252d4a;
    height: 50vh;
    max-height: 600px;
    width:60vw;
    max-width: 800px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
}

.question{
    margin-top: 2%;
}
.options{
    margin-top: 2%;
}
